<mat-grid-list cols="2" rowHeight="215px" gutterSize="10px">
    
    <mat-grid-tile colspan="2" rowspan="1">
        <h1>Los componentes de abajo están organizados en el componente grid list, todos de Angular Material</h1>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">  
        <mat-grid-tile-header>Rueda de progreso:</mat-grid-tile-header>      
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-grid-tile-header>Check box normal e indeterminado:</mat-grid-tile-header>
        <mat-checkbox checked="true">Checkbox</mat-checkbox>
        <mat-checkbox indeterminate="true">Checkbox</mat-checkbox>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-grid-tile-header>Barras deslizantes horizontal y vertical:</mat-grid-tile-header>
        <mat-slider min="1" max="100" step="1" value="20"></mat-slider>
        <mat-slider min="1" max="100" step="1" value="20" vertical="true"></mat-slider>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-grid-tile-header>Botón deslizante:</mat-grid-tile-header>
        <mat-slide-toggle>Slide</mat-slide-toggle>
    </mat-grid-tile>

</mat-grid-list>


